<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.EmpDAO">

<!--查询所有-->
    <select id="findAll" resultType="com.baizhi.entity.Emp">
        select id, name, salary, age,bir from t_emp
    </select>

<!--    保存-->
    <insert id="save" parameterType="com.baizhi.entity.Emp">
        insert into t_emp values (#{id},#{name},#{salary},#{age},#{bir})
    </insert>


</mapper>